title Brew Compass

= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/@rolemodel/optics@2.1.2/dist/css/optics.min.css', 'data-turbo-track': 'reload'
= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/@rolemodel/optics@2.1.2/dist/css/addons/fonts/phosphor_icons.css', 'data-turbo-track': 'reload'
= stylesheet_link_tag :all, 'data-turbo-track': 'reload'

= javascript_importmap_tags

meta content="width=device-width, initial-scale=1" name="viewport"
meta name="description" content="App to track coffee consumption and preferences. Build up a taste profile to find preferences."
meta name="rails_env" content=Rails.env

link rel="preconnect" href="https://fonts.googleapis.com"
link rel="preconnect" href="https://unpkg.com"
link rel="preconnect" href="https://cdn.jsdelivr.net"
