.navbar {
  --_bc-navbar-logo-size: calc(var(--op-size-unit) * 12);

  .navbar__brand {
    img {
      width: var(--_bc-navbar-logo-size);
      min-width: var(--_bc-navbar-logo-size);
      height: var(--_bc-navbar-logo-size);
      min-height: var(--_bc-navbar-logo-size);
    }
  }

  &.navbar--footer {
    box-shadow: var(--op-border-top) var(--_op-navbar-border-color);
    padding: 0;
    padding-block-end: var(--op-space-large);
    justify-content: center;

    .btn {
      border-radius: 0;
    }
  }
}
