.navbar {
  .navbar__brand {
    img {
      width: 100%;
    }
  }

  &.navbar--footer {
    box-shadow: var(--op-border-top) var(--_op-navbar-border-color);
    padding: 0;
    justify-content: center;

    .btn {
      border-radius: 0;
    }
  }
}
